/* #btnAdauga {
    color: red;
}
.ion {
    color:yellow;
}
.maria{
    background-color: turquoise;
}

input[type='button'] {
    background-color: black;
}

tfoot td {
    color: yellow;
}

th, td {
    color: pink;
} */